<%= form_for car, html: {multipart: true} do |f| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :brand %>
    <%= f.text_field :brand %>
  </div>

  <div class="field">
    <%= f.label :model %>
    <%= f.text_field :model %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>

  <div class="field">
    <%= f.label :milage %>
    <%= f.number_field :milage %>
  </div>

  <div class="field">
    <%= f.label :imageclip %>
    <%= f.file_field :imageclip %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
