<div class = "container-fluid" >
<%= render 'shared/navbar' %>
<div class = "jumbotron signInModule">
<h2> Buy or Sell A Car! </h2>
<% if !user_signed_in? %>
<%= link_to ("Sign In"), new_user_session_path %> |
<%= link_to ("Sign Up"), new_user_registration_path %>
  <% else %>
 <%= current_user.email %> |
 <%= link_to ("Log Out"), destroy_user_session_path, method: :delete %> |
 <%= link_to 'Sell-Your-Car', new_car_path %>
<% end %>
</div>



<div class="row">
  <% @cars.each do |car| %>
    <div class="col-sm-6 col-md-3">
      <div class ="thumbnail">
        <%= link_to (image_tag car.imageclip.url(:medium), class: 'image'), car %>
        <div class= "caption">
          <strong><%= car.model %> - <span>Great Price!</span></strong>
          <p>This car is a great purchase</p>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>
